
article
  .left-menu
    include _left_menu
  .sections__wrapper
    .wrapper__advertizing_block
      include _advertizing_block
    section.person-profile
      include _person_profile
    section.mycompany__logo
      include _myCompany_logo
    section.mycompany__data
      include _myCompany_data
    section.products
      include _products
    section.purchases
      include _purchases