.footer__wrap
  .footer__nav
    .nav__logo
      img.logo__image(src="img/brandname_bottom.png", alt="")
      p.logo__desc ООО "Фишнет" 2016
    nav.bottom-menu
      ul
        li: a(href="/") User agreement
        li: a(href="/") ImpexGlobal
        li: a(href="/") Our services
        li: a(href="/") Contacts
  .footer__rights
    p.rights__title Разработка сайта —  Студия Артема Городецкого
    .rights__logo
      img.rights__logo_img(src="img/a&g.png", alt="")
