//- - var list = ['My profile', 'My company', 'My servises'];
//- - var href = ['#', '#', '#'];
//- - var a = [];

ul.left-menu__list
  //- each val in list
  //-   li = val
  li.list__item
    a.list__item_link(href="") My profile

  li.list__item.list__item_active: a.list__item_link(href="") My company
  li.list__item: a.list__item_link(href="") My servises
  li.list__item: a.list__item_link(href="") My files
  li.list__item: a.list__item_link(href="") My mail
  li.list__item: a.list__item_link(href="") My favourites
  li.list__item: a.list__item_link(href="") My sell offers
  li.list__item: a.list__item_link(href="") My buy offers
  li.list__item: a.list__item_link(href="") My news
  li.list__item: a.list__item_link(href="") My video
  li.list__item: a.list__item_link(href="") My event
  li.list__item: a.list__item_link(href="") My subscription