h3.mycompany-logo__title My Company
.mycompany-logo__image_wrapper
  .image
    img(src="img/logo-company.png", alt="")
  .choice
    form.choice__form(action="", method="")
      .choice__form_input
        input(type="text", name="")
        button(type="submit") Обзор
      button.choice__form_button(type="submit") Сhange logo