.profile__image
  img(src="img/person-image.png", alt="")
.profile__data
  form(action="", method="get")
    p.data__name: input(type="text", value="Ivan Ivanov") 
    p.data__phone-number
      label Phone number:
      input(type="text", value="+79110000000")
    button.data__button(type="submit") Edit

