form.products__form(action="", method="", name="")
  lable.form__products_label Products
    span * 
  select.form__products_select(multiple="multiple")
    option.products_option(value="Alaska Pollock") Alaska Pollock
    option.products_option(value="Textiles") Textiles
    option.products_option(value="Chemicals & allied industries", style="display: block") Chemicals & allied industries
  .form__products_button
    button.button_alldata(type="submit") Save 