.purchases__shipment
  h5.shipment__title Shipment (Purchases)
  p.shipment__desc 
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
    | Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
.purchases__quotas
  h5.quotas__title Capture quotas
  p.quotas__desc
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
    | Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.