extends template

block header
  include includes/_header

block article
  include includes/_article

block advertizing_block_bottom
  include includes/_advertizing_block_bottom

block footer
  include includes/_footer